<link href='https://fonts.googleapis.com/css?family=Averia Sans Libre' rel='stylesheet'>

body {
     background-image: url("cool-background.png");
     background-repeat:no-repeat;
     background-size:cover;
}
 h1 {
     text-align: center;
     font-family: 'Averia Sans Libre';
     font-size: 75px;
     color: black;
}
 h2 {
     text-align: center;
     font-family: 'Averia Sans Libre';
     font-size: 50px;
     color: green;
}
 a {
     color:black 
}
 p {
     font-family: 'Averia Sans Libre';
     font-size: 42px;
     color: black;
}
 .bottomleft {
     position: absolute;
     color: black;
     font-size: 30px;
     bottom: 8px;
     left: 16px;
     font-family: 'Averia Sans Libre';
}
